# Import library

In [1]:
import pandas as pd
import numpy as np

from scipy import sparse
from lightfm import LightFM # ใช้ทำ MF

C:\Users\user\anaconda3\lib\site-packages\lightfm\_lightfm_fast.py:10: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  "LightFM was compiled without OpenMP support. "

# Import data

In [2]:
df = pd.read_csv('./dataset/ratings.csv')
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
movie_name = pd.read_csv('./dataset/movies.csv')
movie_name.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

# Preparation

In [4]:
print('user:', df['userId'].nunique())
print('movie:', df['movieId'].nunique())
print('len rating:', len(df))

user: 610
movie: 9724
len rating: 100836

In [5]:
user = df['userId'].unique()
user

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610],
      dtype=int64)

In [6]:
movie = df['movieId'].unique()
movie

array([     1,      3,      6, ..., 160836, 163937, 163981], dtype=int64)

# Interaction matrix

In [7]:
user_col = 'userId'
item_col = 'movieId'
rating_col = 'rating'
interactions = df.groupby([user_col, item_col])[rating_col]
interactions

In [8]:
interactions = df.groupby([user_col, item_col])[rating_col].sum()
interactions

userId  movieId
1       1          4.0
        3          4.0
        6          4.0
        47         5.0
        50         5.0
                  ...
610     166534     4.0
        168248     5.0
        168250     5.0
        168252     5.0
        170875     3.0
Name: rating, Length: 100836, dtype: float64

In [9]:
interactions = df.groupby([user_col, item_col])[rating_col].sum().unstack()
interactions

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
interactions = df.groupby([user_col, item_col])[rating_col].sum().unstack().reset_index()
interactions

movieId,userId,1,2,3,4,5,6,7,8,9,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
0,1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
606,607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
interactions = df.groupby([user_col, item_col])[rating_col].sum().unstack().reset_index().fillna(0)
interactions

movieId,userId,1,2,3,4,5,6,7,8,9,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
0,1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
606,607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
interactions = df.groupby([user_col, item_col])[rating_col].sum().unstack().reset_index().fillna(0).set_index(user_col)
interactions

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# userId == 1
interactions.iloc[:1, :]

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Matrix factorization

#### Function to run matrix-factorization algorithm
- Required Input
    - interactions = dataset create by create_interaction_matrix
    - n_components = number of embeddings you want to create to define Item and user
    - loss = loss function
    - epoch = number of epochs
    - n_jobs = number of cores used for execution 

- Expected Output
    - Model - Trained model

In [14]:
interactions = interactions
n_components=30
loss='warp'
k=15
epoch=30
n_jobs = 4

In [15]:
interactions.values

array([[4. , 0. , 4. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       ...,
       [2.5, 2. , 2. , ..., 0. , 0. , 0. ],
       [3. , 0. , 0. , ..., 0. , 0. , 0. ],
       [5. , 0. , 0. , ..., 0. , 0. , 0. ]])

In [16]:
# Compressed Sparse Row matrix
x = sparse.csr_matrix(interactions.values)
x

<610x9724 sparse matrix of type '<class 'numpy.float64'>'
	with 100836 stored elements in Compressed Sparse Row format>

In [17]:
model = LightFM(no_components= n_components, loss=loss, k=k) #ออกแบบโมเดล
model

In [18]:
model.fit(x, epochs=epoch, num_threads = n_jobs) #train model

# Predict

### user_dict

In [19]:
user_id = list(interactions.index)
user_id

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610]

In [20]:
user_dict = {}

In [21]:
counter = 1
for i in user_id:
    user_dict[counter] = i
    counter += 1

In [22]:
user_dict

{1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 5,
 6: 6,
 7: 7,
 8: 8,
 9: 9,
 10: 10,
 11: 11,
 12: 12,
 13: 13,
 14: 14,
 15: 15,
 16: 16,
 17: 17,
 18: 18,
 19: 19,
 20: 20,
 21: 21,
 22: 22,
 23: 23,
 24: 24,
 25: 25,
 26: 26,
 27: 27,
 28: 28,
 29: 29,
 30: 30,
 31: 31,
 32: 32,
 33: 33,
 34: 34,
 35: 35,
 36: 36,
 37: 37,
 38: 38,
 39: 39,
 40: 40,
 41: 41,
 42: 42,
 43: 43,
 44: 44,
 45: 45,
 46: 46,
 47: 47,
 48: 48,
 49: 49,
 50: 50,
 51: 51,
 52: 52,
 53: 53,
 54: 54,
 55: 55,
 56: 56,
 57: 57,
 58: 58,
 59: 59,
 60: 60,
 61: 61,
 62: 62,
 63: 63,
 64: 64,
 65: 65,
 66: 66,
 67: 67,
 68: 68,
 69: 69,
 70: 70,
 71: 71,
 72: 72,
 73: 73,
 74: 74,
 75: 75,
 76: 76,
 77: 77,
 78: 78,
 79: 79,
 80: 80,
 81: 81,
 82: 82,
 83: 83,
 84: 84,
 85: 85,
 86: 86,
 87: 87,
 88: 88,
 89: 89,
 90: 90,
 91: 91,
 92: 92,
 93: 93,
 94: 94,
 95: 95,
 96: 96,
 97: 97,
 98: 98,
 99: 99,
 100: 100,
 101: 101,
 102: 102,
 103: 103,
 104: 104,
 105: 105,
 106: 106,
 107: 107,
 108: 108,
 109: 109,
 110: 110,
 111: 111,
 112: 112,
 113: 113,
 114: 114,
 115: 115,
 116: 116,
 117: 117,
 118: 118,
 119: 119,
 120: 120,
 121: 121,
 122: 122,
 123: 123,
 124: 124,
 125: 125,
 126: 126,
 127: 127,
 128: 128,
 129: 129,
 130: 130,
 131: 131,
 132: 132,
 133: 133,
 134: 134,
 135: 135,
 136: 136,
 137: 137,
 138: 138,
 139: 139,
 140: 140,
 141: 141,
 142: 142,
 143: 143,
 144: 144,
 145: 145,
 146: 146,
 147: 147,
 148: 148,
 149: 149,
 150: 150,
 151: 151,
 152: 152,
 153: 153,
 154: 154,
 155: 155,
 156: 156,
 157: 157,
 158: 158,
 159: 159,
 160: 160,
 161: 161,
 162: 162,
 163: 163,
 164: 164,
 165: 165,
 166: 166,
 167: 167,
 168: 168,
 169: 169,
 170: 170,
 171: 171,
 172: 172,
 173: 173,
 174: 174,
 175: 175,
 176: 176,
 177: 177,
 178: 178,
 179: 179,
 180: 180,
 181: 181,
 182: 182,
 183: 183,
 184: 184,
 185: 185,
 186: 186,
 187: 187,
 188: 188,
 189: 189,
 190: 190,
 191: 191,
 192: 192,
 193: 193,
 194: 194,
 195: 195,
 196: 196,
 197: 197,
 198: 198,
 199: 199,
 200: 200,
 201: 201,
 202: 202,
 203: 203,
 204: 204,
 205: 205,
 206: 206,
 207: 207,
 208: 208,
 209: 209,
 210: 210,
 211: 211,
 212: 212,
 213: 213,
 214: 214,
 215: 215,
 216: 216,
 217: 217,
 218: 218,
 219: 219,
 220: 220,
 221: 221,
 222: 222,
 223: 223,
 224: 224,
 225: 225,
 226: 226,
 227: 227,
 228: 228,
 229: 229,
 230: 230,
 231: 231,
 232: 232,
 233: 233,
 234: 234,
 235: 235,
 236: 236,
 237: 237,
 238: 238,
 239: 239,
 240: 240,
 241: 241,
 242: 242,
 243: 243,
 244: 244,
 245: 245,
 246: 246,
 247: 247,
 248: 248,
 249: 249,
 250: 250,
 251: 251,
 252: 252,
 253: 253,
 254: 254,
 255: 255,
 256: 256,
 257: 257,
 258: 258,
 259: 259,
 260: 260,
 261: 261,
 262: 262,
 263: 263,
 264: 264,
 265: 265,
 266: 266,
 267: 267,
 268: 268,
 269: 269,
 270: 270,
 271: 271,
 272: 272,
 273: 273,
 274: 274,
 275: 275,
 276: 276,
 277: 277,
 278: 278,
 279: 279,
 280: 280,
 281: 281,
 282: 282,
 283: 283,
 284: 284,
 285: 285,
 286: 286,
 287: 287,
 288: 288,
 289: 289,
 290: 290,
 291: 291,
 292: 292,
 293: 293,
 294: 294,
 295: 295,
 296: 296,
 297: 297,
 298: 298,
 299: 299,
 300: 300,
 301: 301,
 302: 302,
 303: 303,
 304: 304,
 305: 305,
 306: 306,
 307: 307,
 308: 308,
 309: 309,
 310: 310,
 311: 311,
 312: 312,
 313: 313,
 314: 314,
 315: 315,
 316: 316,
 317: 317,
 318: 318,
 319: 319,
 320: 320,
 321: 321,
 322: 322,
 323: 323,
 324: 324,
 325: 325,
 326: 326,
 327: 327,
 328: 328,
 329: 329,
 330: 330,
 331: 331,
 332: 332,
 333: 333,
 334: 334,
 335: 335,
 336: 336,
 337: 337,
 338: 338,
 339: 339,
 340: 340,
 341: 341,
 342: 342,
 343: 343,
 344: 344,
 345: 345,
 346: 346,
 347: 347,
 348: 348,
 349: 349,
 350: 350,
 351: 351,
 352: 352,
 353: 353,
 354: 354,
 355: 355,
 356: 356,
 357: 357,
 358: 358,
 359: 359,
 360: 360,
 361: 361,
 362: 362,
 363: 363,
 364: 364,
 365: 365,
 366: 366,
 367: 367,
 368: 368,
 369: 369,
 370: 370,
 371: 371,
 372: 372,
 373: 373,
 374: 374,
 375: 375,
 376: 376,
 377: 377,
 378: 378,
 379: 379,
 380: 380,
 381: 381,
 382: 382,
 383: 383,
 384: 384,
 385: 385,
 386: 386,
 387: 387,
 388: 388,
 389: 389,
 390: 390,
 391: 391,
 392: 392,
 393: 393,
 394: 394,
 395: 395,
 396: 396,
 397: 397,
 398: 398,
 399: 399,
 400: 400,
 401: 401,
 402: 402,
 403: 403,
 404: 404,
 405: 405,
 406: 406,
 407: 407,
 408: 408,
 409: 409,
 410: 410,
 411: 411,
 412: 412,
 413: 413,
 414: 414,
 415: 415,
 416: 416,
 417: 417,
 418: 418,
 419: 419,
 420: 420,
 421: 421,
 422: 422,
 423: 423,
 424: 424,
 425: 425,
 426: 426,
 427: 427,
 428: 428,
 429: 429,
 430: 430,
 431: 431,
 432: 432,
 433: 433,
 434: 434,
 435: 435,
 436: 436,
 437: 437,
 438: 438,
 439: 439,
 440: 440,
 441: 441,
 442: 442,
 443: 443,
 444: 444,
 445: 445,
 446: 446,
 447: 447,
 448: 448,
 449: 449,
 450: 450,
 451: 451,
 452: 452,
 453: 453,
 454: 454,
 455: 455,
 456: 456,
 457: 457,
 458: 458,
 459: 459,
 460: 460,
 461: 461,
 462: 462,
 463: 463,
 464: 464,
 465: 465,
 466: 466,
 467: 467,
 468: 468,
 469: 469,
 470: 470,
 471: 471,
 472: 472,
 473: 473,
 474: 474,
 475: 475,
 476: 476,
 477: 477,
 478: 478,
 479: 479,
 480: 480,
 481: 481,
 482: 482,
 483: 483,
 484: 484,
 485: 485,
 486: 486,
 487: 487,
 488: 488,
 489: 489,
 490: 490,
 491: 491,
 492: 492,
 493: 493,
 494: 494,
 495: 495,
 496: 496,
 497: 497,
 498: 498,
 499: 499,
 500: 500,
 501: 501,
 502: 502,
 503: 503,
 504: 504,
 505: 505,
 506: 506,
 507: 507,
 508: 508,
 509: 509,
 510: 510,
 511: 511,
 512: 512,
 513: 513,
 514: 514,
 515: 515,
 516: 516,
 517: 517,
 518: 518,
 519: 519,
 520: 520,
 521: 521,
 522: 522,
 523: 523,
 524: 524,
 525: 525,
 526: 526,
 527: 527,
 528: 528,
 529: 529,
 530: 530,
 531: 531,
 532: 532,
 533: 533,
 534: 534,
 535: 535,
 536: 536,
 537: 537,
 538: 538,
 539: 539,
 540: 540,
 541: 541,
 542: 542,
 543: 543,
 544: 544,
 545: 545,
 546: 546,
 547: 547,
 548: 548,
 549: 549,
 550: 550,
 551: 551,
 552: 552,
 553: 553,
 554: 554,
 555: 555,
 556: 556,
 557: 557,
 558: 558,
 559: 559,
 560: 560,
 561: 561,
 562: 562,
 563: 563,
 564: 564,
 565: 565,
 566: 566,
 567: 567,
 568: 568,
 569: 569,
 570: 570,
 571: 571,
 572: 572,
 573: 573,
 574: 574,
 575: 575,
 576: 576,
 577: 577,
 578: 578,
 579: 579,
 580: 580,
 581: 581,
 582: 582,
 583: 583,
 584: 584,
 585: 585,
 586: 586,
 587: 587,
 588: 588,
 589: 589,
 590: 590,
 591: 591,
 592: 592,
 593: 593,
 594: 594,
 595: 595,
 596: 596,
 597: 597,
 598: 598,
 599: 599,
 600: 600,
 601: 601,
 602: 602,
 603: 603,
 604: 604,
 605: 605,
 606: 606,
 607: 607,
 608: 608,
 609: 609,
 610: 610}

### movie_dict

In [23]:
movie_name.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [24]:
movie_name.loc[0,'movieId']

1

In [25]:
movie_name.loc[0,'title']

'Toy Story (1995)'

In [26]:
movie_name['title'].loc[0]

'Toy Story (1995)'

In [27]:
movie_name.shape[0]

9742

In [28]:
movie_dict = {}

In [29]:
for i in range(movie_name.shape[0]):
    movie_dict[movie_name['movieId'].loc[i]] = movie_name['title'].loc[i]

In [30]:
movie_dict

{1: 'Toy Story (1995)',
 2: 'Jumanji (1995)',
 3: 'Grumpier Old Men (1995)',
 4: 'Waiting to Exhale (1995)',
 5: 'Father of the Bride Part II (1995)',
 6: 'Heat (1995)',
 7: 'Sabrina (1995)',
 8: 'Tom and Huck (1995)',
 9: 'Sudden Death (1995)',
 10: 'GoldenEye (1995)',
 11: 'American President, The (1995)',
 12: 'Dracula: Dead and Loving It (1995)',
 13: 'Balto (1995)',
 14: 'Nixon (1995)',
 15: 'Cutthroat Island (1995)',
 16: 'Casino (1995)',
 17: 'Sense and Sensibility (1995)',
 18: 'Four Rooms (1995)',
 19: 'Ace Ventura: When Nature Calls (1995)',
 20: 'Money Train (1995)',
 21: 'Get Shorty (1995)',
 22: 'Copycat (1995)',
 23: 'Assassins (1995)',
 24: 'Powder (1995)',
 25: 'Leaving Las Vegas (1995)',
 26: 'Othello (1995)',
 27: 'Now and Then (1995)',
 28: 'Persuasion (1995)',
 29: 'City of Lost Children, The (Cité des enfants perdus, La) (1995)',
 30: 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)',
 31: 'Dangerous Minds (1995)',
 32: 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 34: 'Babe (1995)',
 36: 'Dead Man Walking (1995)',
 38: 'It Takes Two (1995)',
 39: 'Clueless (1995)',
 40: 'Cry, the Beloved Country (1995)',
 41: 'Richard III (1995)',
 42: 'Dead Presidents (1995)',
 43: 'Restoration (1995)',
 44: 'Mortal Kombat (1995)',
 45: 'To Die For (1995)',
 46: 'How to Make an American Quilt (1995)',
 47: 'Seven (a.k.a. Se7en) (1995)',
 48: 'Pocahontas (1995)',
 49: 'When Night Is Falling (1995)',
 50: 'Usual Suspects, The (1995)',
 52: 'Mighty Aphrodite (1995)',
 53: 'Lamerica (1994)',
 54: 'Big Green, The (1995)',
 55: 'Georgia (1995)',
 57: 'Home for the Holidays (1995)',
 58: 'Postman, The (Postino, Il) (1994)',
 60: 'Indian in the Cupboard, The (1995)',
 61: 'Eye for an Eye (1996)',
 62: "Mr. Holland's Opus (1995)",
 63: "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)",
 64: 'Two if by Sea (1996)',
 65: 'Bio-Dome (1996)',
 66: 'Lawnmower Man 2: Beyond Cyberspace (1996)',
 68: 'French Twist (Gazon maudit) (1995)',
 69: 'Friday (1995)',
 70: 'From Dusk Till Dawn (1996)',
 71: 'Fair Game (1995)',
 72: 'Kicking and Screaming (1995)',
 73: 'Misérables, Les (1995)',
 74: 'Bed of Roses (1996)',
 75: 'Big Bully (1996)',
 76: 'Screamers (1995)',
 77: 'Nico Icon (1995)',
 78: 'Crossing Guard, The (1995)',
 79: 'Juror, The (1996)',
 80: 'White Balloon, The (Badkonake sefid) (1995)',
 81: "Things to Do in Denver When You're Dead (1995)",
 82: "Antonia's Line (Antonia) (1995)",
 83: 'Once Upon a Time... When We Were Colored (1995)',
 85: 'Angels and Insects (1995)',
 86: 'White Squall (1996)',
 87: 'Dunston Checks In (1996)',
 88: 'Black Sheep (1996)',
 89: 'Nick of Time (1995)',
 92: 'Mary Reilly (1996)',
 93: 'Vampire in Brooklyn (1995)',
 94: 'Beautiful Girls (1996)',
 95: 'Broken Arrow (1996)',
 96: 'In the Bleak Midwinter (1995)',
 97: 'Hate (Haine, La) (1995)',
 99: 'Heidi Fleiss: Hollywood Madam (1995)',
 100: 'City Hall (1996)',
 101: 'Bottle Rocket (1996)',
 102: 'Mr. Wrong (1996)',
 103: 'Unforgettable (1996)',
 104: 'Happy Gilmore (1996)',
 105: 'Bridges of Madison County, The (1995)',
 106: 'Nobody Loves Me (Keiner liebt mich) (1994)',
 107: 'Muppet Treasure Island (1996)',
 108: 'Catwalk (1996)',
 110: 'Braveheart (1995)',
 111: 'Taxi Driver (1976)',
 112: 'Rumble in the Bronx (Hont faan kui) (1995)',
 113: 'Before and After (1996)',
 116: 'Anne Frank Remembered (1995)',
 117: "Young Poisoner's Handbook, The (1995)",
 118: 'If Lucy Fell (1996)',
 119: 'Steal Big, Steal Little (1995)',
 121: 'Boys of St. Vincent, The (1992)',
 122: 'Boomerang (1992)',
 123: 'Chungking Express (Chung Hing sam lam) (1994)',
 125: 'Flirting With Disaster (1996)',
 126: 'NeverEnding Story III, The (1994)',
 128: "Jupiter's Wife (1994)",
 129: 'Pie in the Sky (1996)',
 132: 'Jade (1995)',
 135: 'Down Periscope (1996)',
 137: 'Man of the Year (1995)',
 140: 'Up Close and Personal (1996)',
 141: 'Birdcage, The (1996)',
 144: 'Brothers McMullen, The (1995)',
 145: 'Bad Boys (1995)',
 146: 'Amazing Panda Adventure, The (1995)',
 147: 'Basketball Diaries, The (1995)',
 148: 'Awfully Big Adventure, An (1995)',
 149: 'Amateur (1994)',
 150: 'Apollo 13 (1995)',
 151: 'Rob Roy (1995)',
 152: 'Addiction, The (1995)',
 153: 'Batman Forever (1995)',
 154: 'Beauty of the Day (Belle de jour) (1967)',
 155: 'Beyond Rangoon (1995)',
 156: 'Blue in the Face (1995)',
 157: 'Canadian Bacon (1995)',
 158: 'Casper (1995)',
 159: 'Clockers (1995)',
 160: 'Congo (1995)',
 161: 'Crimson Tide (1995)',
 162: 'Crumb (1994)',
 163: 'Desperado (1995)',
 164: 'Devil in a Blue Dress (1995)',
 165: 'Die Hard: With a Vengeance (1995)',
 166: 'Doom Generation, The (1995)',
 168: 'First Knight (1995)',
 169: 'Free Willy 2: The Adventure Home (1995)',
 170: 'Hackers (1995)',
 171: 'Jeffrey (1995)',
 172: 'Johnny Mnemonic (1995)',
 173: 'Judge Dredd (1995)',
 174: 'Jury Duty (1995)',
 175: 'Kids (1995)',
 176: 'Living in Oblivion (1995)',
 177: 'Lord of Illusions (1995)',
 178: 'Love & Human Remains (1993)',
 179: 'Mad Love (1995)',
 180: 'Mallrats (1995)',
 181: 'Mighty Morphin Power Rangers: The Movie (1995)',
 183: 'Mute Witness (1994)',
 184: 'Nadja (1994)',
 185: 'Net, The (1995)',
 186: 'Nine Months (1995)',
 187: 'Party Girl (1995)',
 188: 'Prophecy, The (1995)',
 189: 'Reckless (1995)',
 190: 'Safe (1995)',
 191: 'Scarlet Letter, The (1995)',
 193: 'Showgirls (1995)',
 194: 'Smoke (1995)',
 195: 'Something to Talk About (1995)',
 196: 'Species (1995)',
 198: 'Strange Days (1995)',
 199: 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)',
 201: 'Three Wishes (1995)',
 202: 'Total Eclipse (1995)',
 203: 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
 204: 'Under Siege 2: Dark Territory (1995)',
 205: 'Unstrung Heroes (1995)',
 206: 'Unzipped (1995)',
 207: 'Walk in the Clouds, A (1995)',
 208: 'Waterworld (1995)',
 209: "White Man's Burden (1995)",
 210: 'Wild Bill (1995)',
 211: 'Browning Version, The (1994)',
 212: 'Bushwhacked (1995)',
 213: 'Burnt by the Sun (Utomlyonnye solntsem) (1994)',
 214: 'Before the Rain (Pred dozhdot) (1994)',
 215: 'Before Sunrise (1995)',
 216: 'Billy Madison (1995)',
 217: 'Babysitter, The (1995)',
 218: 'Boys on the Side (1995)',
 219: 'Cure, The (1995)',
 220: 'Castle Freak (1995)',
 222: 'Circle of Friends (1995)',
 223: 'Clerks (1994)',
 224: 'Don Juan DeMarco (1995)',
 225: 'Disclosure (1994)',
 227: 'Drop Zone (1994)',
 228: 'Destiny Turns on the Radio (1995)',
 229: 'Death and the Maiden (1994)',
 230: 'Dolores Claiborne (1995)',
 231: 'Dumb & Dumber (Dumb and Dumber) (1994)',
 232: 'Eat Drink Man Woman (Yin shi nan nu) (1994)',
 233: 'Exotica (1994)',
 234: 'Exit to Eden (1994)',
 235: 'Ed Wood (1994)',
 236: 'French Kiss (1995)',
 237: 'Forget Paris (1995)',
 238: 'Far From Home: The Adventures of Yellow Dog (1995)',
 239: 'Goofy Movie, A (1995)',
 240: 'Hideaway (1995)',
 241: 'Fluke (1995)',
 242: 'Farinelli: il castrato (1994)',
 243: 'Gordy (1995)',
 246: 'Hoop Dreams (1994)',
 247: 'Heavenly Creatures (1994)',
 248: 'Houseguest (1994)',
 249: 'Immortal Beloved (1994)',
 250: 'Heavyweights (Heavy Weights) (1995)',
 251: 'Hunted, The (1995)',
 252: 'I.Q. (1994)',
 253: 'Interview with the Vampire: The Vampire Chronicles (1994)',
 254: 'Jefferson in Paris (1995)',
 255: 'Jerky Boys, The (1995)',
 256: 'Junior (1994)',
 257: 'Just Cause (1995)',
 258: "Kid in King Arthur's Court, A (1995)",
 259: 'Kiss of Death (1995)',
 260: 'Star Wars: Episode IV - A New Hope (1977)',
 261: 'Little Women (1994)',
 262: 'Little Princess, A (1995)',
 263: 'Ladybird Ladybird (1994)',
 265: 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 266: 'Legends of the Fall (1994)',
 267: 'Major Payne (1995)',
 269: 'My Crazy Life (Mi vida loca) (1993)',
 270: 'Love Affair (1994)',
 271: 'Losing Isaiah (1995)',
 272: 'Madness of King George, The (1994)',
 273: "Mary Shelley's Frankenstein (Frankenstein) (1994)",
 274: 'Man of the House (1995)',
 275: 'Mixed Nuts (1994)',
 276: 'Milk Money (1994)',
 277: 'Miracle on 34th Street (1994)',
 278: 'Miami Rhapsody (1995)',
 279: 'My Family (1995)',
 280: 'Murder in the First (1995)',
 281: "Nobody's Fool (1994)",
 282: 'Nell (1994)',
 283: 'New Jersey Drive (1995)',
 284: 'New York Cop (Nyû Yôku no koppu) (1993)',
 285: 'Beyond Bedlam (1993)',
 287: 'Nina Takes a Lover (1994)',
 288: 'Natural Born Killers (1994)',
 289: 'Only You (1994)',
 290: 'Once Were Warriors (1994)',
 291: 'Poison Ivy II (1996)',
 292: 'Outbreak (1995)',
 293: 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 294: 'Perez Family, The (1995)',
 295: "Pyromaniac's Love Story, A (1995)",
 296: 'Pulp Fiction (1994)',
 298: 'Pushing Hands (Tui shou) (1992)',
 299: 'Priest (1994)',
 300: 'Quiz Show (1994)',
 301: 'Picture Bride (Bijo photo) (1994)',
 302: 'Queen Margot (Reine Margot, La) (1994)',
 303: 'Quick and the Dead, The (1995)',
 304: 'Roommates (1995)',
 305: 'Ready to Wear (Pret-A-Porter) (1994)',
 306: 'Three Colors: Red (Trois couleurs: Rouge) (1994)',
 307: 'Three Colors: Blue (Trois couleurs: Bleu) (1993)',
 308: 'Three Colors: White (Trzy kolory: Bialy) (1994)',
 310: 'Rent-a-Kid (1995)',
 311: 'Relative Fear (1994)',
 312: 'Stuart Saves His Family (1995)',
 313: 'Swan Princess, The (1994)',
 314: 'Secret of Roan Inish, The (1994)',
 315: 'Specialist, The (1994)',
 316: 'Stargate (1994)',
 317: 'Santa Clause, The (1994)',
 318: 'Shawshank Redemption, The (1994)',
 319: 'Shallow Grave (1994)',
 320: 'Suture (1993)',
 321: 'Strawberry and Chocolate (Fresa y chocolate) (1993)',
 322: 'Swimming with Sharks (1995)',
 324: 'Sum of Us, The (1994)',
 325: "National Lampoon's Senior Trip (1995)",
 326: 'To Live (Huozhe) (1994)',
 327: 'Tank Girl (1995)',
 328: 'Tales from the Crypt Presents: Demon Knight (1995)',
 329: 'Star Trek: Generations (1994)',
 330: 'Tales from the Hood (1995)',
 331: 'Tom & Viv (1994)',
 332: 'Village of the Damned (1995)',
 333: 'Tommy Boy (1995)',
 334: 'Vanya on 42nd Street (1994)',
 335: 'Underneath (1995)',
 336: 'Walking Dead, The (1995)',
 337: "What's Eating Gilbert Grape (1993)",
 338: 'Virtuosity (1995)',
 339: 'While You Were Sleeping (1995)',
 340: 'War, The (1994)',
 341: 'Double Happiness (1994)',
 342: "Muriel's Wedding (1994)",
 343: 'Baby-Sitters Club, The (1995)',
 344: 'Ace Ventura: Pet Detective (1994)',
 345: 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 346: 'Backbeat (1993)',
 347: 'Bitter Moon (1992)',
 348: 'Bullets Over Broadway (1994)',
 349: 'Clear and Present Danger (1994)',
 350: 'Client, The (1994)',
 351: 'Corrina, Corrina (1994)',
 352: 'Crooklyn (1994)',
 353: 'Crow, The (1994)',
 354: 'Cobb (1994)',
 355: 'Flintstones, The (1994)',
 356: 'Forrest Gump (1994)',
 357: 'Four Weddings and a Funeral (1994)',
 358: 'Higher Learning (1995)',
 359: 'I Like It Like That (1994)',
 360: 'I Love Trouble (1994)',
 361: 'It Could Happen to You (1994)',
 362: 'Jungle Book, The (1994)',
 363: 'Wonderful, Horrible Life of Leni Riefenstahl, The (Macht der Bilder: Leni Riefenstahl, Die) (1993)',
 364: 'Lion King, The (1994)',
 365: 'Little Buddha (1993)',
 366: "Wes Craven's New Nightmare (Nightmare on Elm Street Part 7: Freddy's Finale, A) (1994)",
 367: 'Mask, The (1994)',
 368: 'Maverick (1994)',
 369: 'Mrs. Parker and the Vicious Circle (1994)',
 370: 'Naked Gun 33 1/3: The Final Insult (1994)',
 371: 'Paper, The (1994)',
 372: 'Reality Bites (1994)',
 373: 'Red Rock West (1992)',
 374: 'Richie Rich (1994)',
 376: 'River Wild, The (1994)',
 377: 'Speed (1994)',
 378: 'Speechless (1994)',
 379: 'Timecop (1994)',
 380: 'True Lies (1994)',
 381: 'When a Man Loves a Woman (1994)',
 382: 'Wolf (1994)',
 383: 'Wyatt Earp (1994)',
 384: 'Bad Company (1995)',
 385: 'Man of No Importance, A (1994)',
 386: 'S.F.W. (1994)',
 387: 'Low Down Dirty Shame, A (1994)',
 388: 'Boys Life (1995)',
 389: 'Colonel Chabert, Le (1994)',
 390: 'Faster Pussycat! Kill! Kill! (1965)',
 391: "Jason's Lyric (1994)",
 393: 'Street Fighter (1994)',
 405: 'Highlander III: The Sorcerer (a.k.a. Highlander: The Final Dimension) (1994)',
 406: 'Federal Hill (1994)',
 407: 'In the Mouth of Madness (1995)',
 408: '8 Seconds (1994)',
 409: 'Above the Rim (1994)',
 410: 'Addams Family Values (1993)',
 412: 'Age of Innocence, The (1993)',
 413: 'Airheads (1994)',
 414: 'Air Up There, The (1994)',
 415: 'Another Stakeout (1993)',
 416: 'Bad Girls (1994)',
 417: 'Barcelona (1994)',
 418: 'Being Human (1993)',
 419: 'Beverly Hillbillies, The (1993)',
 420: 'Beverly Hills Cop III (1994)',
 421: 'Black Beauty (1994)',
 422: 'Blink (1994)',
 423: 'Blown Away (1994)',
 424: 'Blue Chips (1994)',
 425: 'Blue Sky (1994)',
 426: 'Body Snatchers (1993)',
 427: 'Boxing Helena (1993)',
 428: 'Bronx Tale, A (1993)',
 429: 'Cabin Boy (1994)',
 430: 'Calendar Girl (1993)',
 431: "Carlito's Way (1993)",
 432: "City Slickers II: The Legend of Curly's Gold (1994)",
 433: 'Clean Slate (1994)',
 434: 'Cliffhanger (1993)',
 435: 'Coneheads (1993)',
 436: 'Color of Night (1994)',
 437: 'Cops and Robbersons (1994)',
 438: 'Cowboy Way, The (1994)',
 440: 'Dave (1993)',
 441: 'Dazed and Confused (1993)',
 442: 'Demolition Man (1993)',
 444: 'Even Cowgirls Get the Blues (1993)',
 445: 'Fatal Instinct (1993)',
 446: 'Farewell My Concubine (Ba wang bie ji) (1993)',
 448: 'Fearless (1993)',
 449: 'Fear of a Black Hat (1994)',
 450: 'With Honors (1994)',
 451: 'Flesh and Bone (1993)',
 452: "Widows' Peak (1994)",
 453: 'For Love or Money (1993)',
 454: 'Firm, The (1993)',
 455: 'Free Willy (1993)',
 456: 'Fresh (1994)',
 457: 'Fugitive, The (1993)',
 458: 'Geronimo: An American Legend (1993)',
 459: 'Getaway, The (1994)',
 460: 'Getting Even with Dad (1994)',
 461: 'Go Fish (1994)',
 464: 'Hard Target (1993)',
 466: 'Hot Shots! Part Deux (1993)',
 467: 'Live Nude Girls (1995)',
 468: 'Englishman Who Went Up a Hill But Came Down a Mountain, The (1995)',
 469: 'House of the Spirits, The (1993)',
 470: 'House Party 3 (1994)',
 471: 'Hudsucker Proxy, The (1994)',
 472: "I'll Do Anything (1994)",
 473: 'In the Army Now (1994)',
 474: 'In the Line of Fire (1993)',
 475: 'In the Name of the Father (1993)',
 476: 'Inkwell, The (1994)',
 477: "What's Love Got to Do with It? (1993)",
 478: 'Jimmy Hollywood (1994)',
 479: 'Judgment Night (1993)',
 480: 'Jurassic Park (1993)',
 481: 'Kalifornia (1993)',
 482: 'Killing Zoe (1994)',
 484: 'Lassie (1994)',
 485: 'Last Action Hero (1993)',
 486: 'Life with Mikey (1993)',
 487: 'Lightning Jack (1994)',
 488: 'M. Butterfly (1993)',
 489: 'Made in America (1993)',
 490: 'Malice (1993)',
 491: 'Man Without a Face, The (1993)',
 492: 'Manhattan Murder Mystery (1993)',
 493: 'Menace II Society (1993)',
 494: 'Executive Decision (1996)',
 495: 'In the Realm of the Senses (Ai no corrida) (1976)',
 496: 'What Happened Was... (1994)',
 497: 'Much Ado About Nothing (1993)',
 499: 'Mr. Wonderful (1993)',
 500: 'Mrs. Doubtfire (1993)',
 501: 'Naked (1993)',
 502: 'Next Karate Kid, The (1994)',
 504: 'No Escape (1994)',
 505: 'North (1994)',
 506: 'Orlando (1992)',
 507: 'Perfect World, A (1993)',
 508: 'Philadelphia (1993)',
 509: 'Piano, The (1993)',
 510: 'Poetic Justice (1993)',
 511: 'Program, The (1993)',
 512: 'Puppet Masters, The (1994)',
 513: 'Radioland Murders (1994)',
 514: 'Ref, The (1994)',
 515: 'Remains of the Day, The (1993)',
 516: 'Renaissance Man (1994)',
 517: 'Rising Sun (1993)',
 518: 'Road to Wellville, The (1994)',
 519: 'RoboCop 3 (1993)',
 520: 'Robin Hood: Men in Tights (1993)',
 521: 'Romeo Is Bleeding (1993)',
 522: 'Romper Stomper (1992)',
 523: 'Ruby in Paradise (1993)',
 524: 'Rudy (1993)',
 526: 'Savage Nights (Nuits fauves, Les) (1992)',
 527: "Schindler's List (1993)",
 528: 'Scout, The (1994)',
 529: 'Searching for Bobby Fischer (1993)',
 531: 'Secret Garden, The (1993)',
 532: 'Serial Mom (1994)',
 533: 'Shadow, The (1994)',
 534: 'Shadowlands (1993)',
 535: 'Short Cuts (1993)',
 536: 'Simple Twist of Fate, A (1994)',
 537: 'Sirens (1994)',
 538: 'Six Degrees of Separation (1993)',
 539: 'Sleepless in Seattle (1993)',
 540: 'Sliver (1993)',
 541: 'Blade Runner (1982)',
 542: 'Son in Law (1993)',
 543: 'So I Married an Axe Murderer (1993)',
 544: 'Striking Distance (1993)',
 546: 'Super Mario Bros. (1993)',
 547: 'Surviving the Game (1994)',
 548: 'Terminal Velocity (1994)',
 549: 'Thirty-Two Short Films About Glenn Gould (1993)',
 550: 'Threesome (1994)',
 551: 'Nightmare Before Christmas, The (1993)',
 552: 'Three Musketeers, The (1993)',
 553: 'Tombstone (1993)',
 555: 'True Romance (1993)',
 556: 'War Room, The (1993)',
 558: 'Pagemaster, The (1994)',
 562: 'Welcome to the Dollhouse (1995)',
 563: 'Germinal (1993)',
 564: 'Chasers (1994)',
 567: 'Kika (1993)',
 568: 'Bhaji on the Beach (1993)',
 569: 'Little Big League (1994)',
 573: 'Ciao, Professore! (Io speriamo che me la cavo) (1992)',
 574: 'Spanking the Monkey (1994)',
 575: 'Little Rascals, The (1994)',
 577: 'Andre (1994)',
 579: 'Escort, The (Scorta, La) (1993)',
 580: 'Princess Caraboo (1994)',
 581: 'Celluloid Closet, The (1995)',
 583: 'Dear Diary (Caro Diario) (1994)',
 585: 'Brady Bunch Movie, The (1995)',
 586: 'Home Alone (1990)',
 587: 'Ghost (1990)',
 588: 'Aladdin (1992)',
 589: 'Terminator 2: Judgment Day (1991)',
 590: 'Dances with Wolves (1990)',
 592: 'Batman (1989)',
 593: 'Silence of the Lambs, The (1991)',
 594: 'Snow White and the Seven Dwarfs (1937)',
 595: 'Beauty and the Beast (1991)',
 596: 'Pinocchio (1940)',
 597: 'Pretty Woman (1990)',
 599: 'Wild Bunch, The (1969)',
 600: 'Love and a .45 (1994)',
 602: 'Great Day in Harlem, A (1994)',
 605: 'One Fine Day (1996)',
 606: 'Candyman: Farewell to the Flesh (1995)',
 608: 'Fargo (1996)',
 609: 'Homeward Bound II: Lost in San Francisco (1996)',
 610: 'Heavy Metal (1981)',
 611: 'Hellraiser: Bloodline (1996)',
 612: 'Pallbearer, The (1996)',
 613: 'Jane Eyre (1996)',
 615: 'Bread and Chocolate (Pane e cioccolata) (1973)',
 616: 'Aristocats, The (1970)',
 617: 'Flower of My Secret, The (La flor de mi secreto) (1995)',
 618: 'Two Much (1995)',
 619: 'Ed (1996)',
 626: 'Thin Line Between Love and Hate, A (1996)',
 627: 'Last Supper, The (1995)',
 628: 'Primal Fear (1996)',
 631: 'All Dogs Go to Heaven 2 (1996)',
 632: 'Land and Freedom (Tierra y libertad) (1995)',
 633: 'Denise Calls Up (1995)',
 634: 'Theodore Rex (1995)',
 635: 'Family Thing, A (1996)',
 636: 'Frisk (1995)',
 637: 'Sgt. Bilko (1996)',
 638: 'Jack and Sarah (1995)',
 639: 'Girl 6 (1996)',
 640: 'Diabolique (1996)',
 645: 'Nelly & Monsieur Arnaud (1995)',
 647: 'Courage Under Fire (1996)',
 648: 'Mission: Impossible (1996)',
 649: 'Cold Fever (Á köldum klaka) (1995)',
 650: 'Moll Flanders (1996)',
 653: 'Dragonheart (1996)',
 656: 'Eddie (1996)',
 661: 'James and the Giant Peach (1996)',
 662: 'Fear (1996)',
 663: 'Kids in the Hall: Brain Candy (1996)',
 665: 'Underground (1995)',
 667: 'Bloodsport 2 (a.k.a. Bloodsport II: The Next Kumite) (1996)',
 668: 'Song of the Little Road (Pather Panchali) (1955)',
 670: 'World of Apu, The (Apur Sansar) (1959)',
 671: 'Mystery Science Theater 3000: The Movie (1996)',
 673: 'Space Jam (1996)',
 674: 'Barbarella (1968)',
 678: 'Some Folks Call It a Sling Blade (1993)',
 679: 'Run of the Country, The (1995)',
 680: 'Alphaville (Alphaville, une étrange aventure de Lemmy Caution) (1965)',
 685: "It's My Party (1996)",
 688: 'Operation Dumbo Drop (1995)',
 691: 'Mrs. Winterbourne (1996)',
 692: 'Solo (1996)',
 694: 'Substitute, The (1996)',
 695: 'True Crime (1996)',
 697: 'Feeling Minnesota (1996)',
 698: 'Delta of Venus (1995)',
 700: 'Angus (1995)',
 703: 'Boys (1996)',
 704: 'Quest, The (1996)',
 706: 'Sunset Park (1996)',
 707: 'Mulholland Falls (1996)',
 708: 'Truth About Cats & Dogs, The (1996)',
 709: 'Oliver & Company (1988)',
 710: 'Celtic Pride (1996)',
 711: 'Flipper (1996)',
 714: 'Dead Man (1995)',
 715: 'Horseman on the Roof, The (Hussard sur le toit, Le) (1995)',
 718: 'Visitors, The (Visiteurs, Les) (1993)',
 719: 'Multiplicity (1996)',

---

In [31]:
interactions.loc[user_id,:]

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Predict

In [32]:
model = model
interactions = interactions
user_id = 1
user_dict = user_dict
movie_dict = movie_dict
threshold = 0
nrec_items = 10
show = True

In [33]:
n_users, n_items = interactions.shape

In [34]:
user_X = user_dict[user_id]

In [35]:
np.arange(n_items)

array([   0,    1,    2, ..., 9721, 9722, 9723])

In [36]:
scores = pd.Series(model.predict(user_X,np.arange(n_items)))
scores

0       0.142519
1      -1.348160
2      -2.606803
3      -3.865181
4      -1.620985
          ...
9719   -2.491760
9720   -2.088889
9721   -2.161210
9722   -2.316696
9723   -1.756734
Length: 9724, dtype: float32

In [37]:
scores.index = interactions.columns

In [38]:
scores = list(pd.Series(scores.sort_values(ascending=False).index))
scores

[58559,
 79132,
 74458,
 72998,
 109487,
 59315,
 2959,
 91529,
 99114,
 80463,
 106782,
 68157,
 91658,
 68954,
 122904,
 318,
 60069,
 69122,
 48516,
 122882,
 5952,
 134130,
 112852,
 7153,
 3949,
 4993,
 112556,
 116797,
 70286,
 4226,
 89745,
 4878,
 73017,
 89492,
 109374,
 48780,
 2571,
 59369,
 63082,
 115713,
 6874,
 54286,
 858,
 356,
 134853,
 593,
 112552,
 3578,
 55820,
 56367,
 2858,
 111759,
 69481,
 84152,
 51662,
 71535,
 81845,
 33794,
 112183,
 50872,
 64614,
 6377,
 60684,
 51255,
 5989,
 48774,
 4886,
 96079,
 88125,
 44191,
 296,
 81591,
 77561,
 68358,
 115149,
 85414,
 78499,
 122886,
 50,
 48394,
 4963,
 91542,
 139385,
 35836,
 55247,
 68237,
 91500,
 72011,
 87232,
 7361,
 76093,
 2329,
 69844,
 49530,
 67255,
 8665,
 79091,
 4995,
 96610,
 94959,
 61323,
 7438,
 260,
 59784,
 1704,
 106489,
 81932,
 6539,
 55765,
 92259,
 72641,
 4306,
 79702,
 6016,
 80489,
 105504,
 110102,
 88129,
 64839,
 76251,
 57669,
 4011,
 5445,
 46578,
 106920,
 112290,
 4262,
 1198,
 138036,
 49272,
 119145,
 81834,
 4022,
 48385,
 97304,
 1213,
 51540,
 115617,
 2762,
 102125,
 98809,
 64969,
 86332,
 102903,
 31685,
 53322,
 91630,
 68319,
 108932,
 81562,
 47099,
 54503,
 61132,
 5418,
 8641,
 73321,
 80906,
 64957,
 47,
 54001,
 32587,
 152081,
 95510,
 7458,
 54272,
 8961,
 8874,
 60756,
 1193,
 122892,
 60074,
 94864,
 1,
 69757,
 527,
 53125,
 56174,
 778,
 4973,
 60072,
 82459,
 122900,
 118696,
 86345,
 88744,
 88140,
 8950,
 59615,
 148626,
 92535,
 115569,
 86882,
 1221,
 97921,
 74789,
 94677,
 7254,
 87306,
 107406,
 89774,
 63113,
 608,
 27773,
 89864,
 30707,
 8361,
 5816,
 105844,
 1206,
 53996,
 97938,
 2028,
 4816,
 102407,
 142488,
 7317,
 104841,
 293,
 88163,
 44665,
 58998,
 77455,
 6934,
 6365,
 8376,
 86833,
 53972,
 7445,
 168252,
 106696,
 5349,
 164179,
 168250,
 122920,
 102445,
 1089,
 5618,
 44199,
 1196,
 61024,
 6502,
 4979,
 60040,
 7143,
 5956,
 71264,
 102123,
 8917,
 47610,
 54995,
 87520,
 56782,
 96829,
 3793,
 88810,
 84954,
 1884,
 4896,
 62434,
 5010,
 111781,
 96821,
 146656,
 44555,
 3948,
 3752,
 56775,
 45722,
 103772,
 52722,
 97913,
 45720,
 106918,
 86880,
 134368,
 106100,
 5378,
 117529,
 66097,
 1721,
 122918,
 103335,
 90405,
 5995,
 139644,
 103249,
 122916,
 97752,
 8644,
 52973,
 45499,
 59900,
 112138,
 41566,
 106072,
 93510,
 8533,
 63131,
 5218,
 40819,
 30793,
 541,
 86347,
 68554,
 63859,
 72378,
 69526,
 46970,
 47997,
 48738,
 81564,
 87869,
 152077,
 101864,
 6333,
 103042,
 82461,
 114662,
 4734,
 5481,
 1732,
 46976,
 41569,
 48304,
 33493,
 174055,
 6942,
 112171,
 52281,
 51935,
 1265,
 166528,
 4027,
 60950,
 364,
 122924,
 150,
 8360,
 150548,
 1210,
 589,
 39183,
 58803,
 4776,
 104879,
 55276,
 62849,
 8368,
 115210,
 4388,
 36529,
 157296,
 106487,
 97923,
 46723,
 53519,
 40815,
 30810,
 2706,
 110,
 86320,
 45672,
 1208,
 177765,
 34162,
 2502,
 57368,
 54997,
 111362,
 87222,
 80549,
 34405,
 31658,
 1682,
 3147,
 750,
 38061,
 6586,
 114180,
 2542,
 111,
 8636,
 1203,
 4718,
 53953,
 54259,
 30749,
 7022,
 166461,
 1270,
 1214,
 104211,
 95167,
 6537,
 8957,
 3617,
 81847,
 8807,
 81229,
 112175,
 96811,
 6373,
 1136,
 1200,
 8464,
 86781,
 106491,
 45447,
 128360,
 34048,
 27611,
 5502,
 120466,
 103141,
 3751,
 4720,
 6618,
 3535,
 127098,
 49278,
 116897,
 8529,
 136020,
 56757,
 166643,
 2324,
 79293,
 6281,
 63992,
 55118,
 1258,
 72226,
 1036,
 79592,
 71745,
 6188,
 140174,
 163645,
 86190,
 4270,
 111659,
 139642,
 107348,
 86377,
 2791,
 904,
 91535,
 30812,
 3996,
 33166,
 80219,
 111360,
 4223,
 8914,
 93363,
 6378,
 3285,
 924,
 1222,
 4447,
 135887,
 480,
 108729,
 3968,
 53894,
 96737,
 67197,
 176371,
 1580,
 136562,
 5464,
 7147,
 33615,
 81788,
 136864,
 6863,
 140110,
 111364,
 132046,
 34150,
 344,
 143385,
 6870,
 122912,
 95441,
 3911,
 83134,
 104069,
 83349,
 187593,
 27831,
 55721,
 183897,
 116823,
 4018,
 4974,
 103253,
 3785,
 3821,
 7293,
 103341,
 131724,
 86911,
 65514,
 79134,
 67087,
 79695,
 159093,
 64620,
 5785,
 100383,
 158238,
 112623,
 135436,
 3275,
 3623,
 51412,
 8984,
 91077,
 61240,
 135133,
 1291,
 58293,
 63072,
 6711,
 3717,
 5903,
 4890,
 117176,
 6957,
 99007,
 33004,
 104374,
 114935,
 86504,
 101525,
 104913,
 367,
 53464,
 78039,
 56587,
 127202,
 3897,
 50068,
 48322,
 4239,
 76077,
 93840,
 59022,
 134170,
 5617,
 55908,
 74795,
 63876,
 1240,
 84772,
 69644,
 31696,
 56941,
 6214,
 5459,
 106002,
 159817,
 3052,
 84374,
 4958,
 1197,
 47200,
 90866,
 8784,
 8798,
 80693,
 4369,
 67923,
 1676,
 135569,
 93272,
 117881,
 84944,
 90439,
 58295,
 130520,
 127198,
 57504,
 106916,
 103596,
 4848,
 135143,
 64716,
 76293,
 140715,
 6708,
 4034,
 67734,
 3409,
 5064,
 74946,
 45186,
 780,
 71899,
 106766,
 135861,
 122926,
 131013,
 3753,
 4344,
 175303,
 32,
 1961,
 6534,
 37729,
 58025,
 103228,
 5388,
 78469,
 912,
 180031,
 231,
 53000,
 2692,
 51077,
 143859,
 16,
 3671,
 78574,
 2019,
 1207,
 68205,
 2694,
 101362,
 8528,
 85774,
 3114,
 104,
 62336,
 97836,
 6541,
 1201,
 137857,
 179819,
 923,
 122922,
 55290,
 103688,
 4025,
 4246,
 2700,
 71033,
 500,
 8873,
 31878,
 33679,
 8981,
 5630,
 88405,
 34319,
 93838,
 1625,
 26471,
 55363,
 158966,
 27904,
 79008,
 5669,
 85342,
 134393,
 162578,
 1247,
 166534,
 44195,
 101142,
 69784,
 4367,
 19,
 71057,
 45517,
 89470,
 333,
 1617,
 73344,
 45728,
 2683,
 65230,
 177593,
 8972,
 5110,
 86644,
 3861,
 161582,
 103980,
 7454,
 36401,
 1485,
 2232,
 84392,
 103384,
 2011,
 111113,
 743,
 5673,
 2628,
 5151,
 56145,
 142448,
 1527,
 7099,
 4069,
 1219,
 117887,
 4299,
 37741,
 4102,
 56715,
 71838,
 119141,
 5254,
 5444,
 157699,
 66203,
 3300,
 85510,
 165,
 117895,
 1653,
 6754,
 1466,
 5679,
 2712,
 54736,
 168418,
 5810,
 3826,
 6157,
 120799,
 71464,
 7451,
 1968,
 54881,
 4701,
 2997,
 6953,
 1517,
 7323,
 72605,
 94777,
 7669,
 3980,
 83613,
 68848,
 7367,
 31410,
 86298,
 5299,
 111921,
 95105,
 6,
 32460,
 4015,
 1393,
 1645,
 96588,
 3969,
 175569,
 52319,
 55577,
 1246,
 91976,
 4247,
 5574,
 82667,
 97225,
 648,
 2716,
 90888,
 92420,
 3868,
 3979,
 1923,
 215,
 223,
 3825,
 6807,
 114060,
 37386,
 8958,
 64983,
 58047,
 3552,
 170697,
 1202,
 3408,
 90600,
 4489,
 4232,
 2617,
 110730,
 138210,
 56801,
 48877,
 586,
 89087,
 170705,
 1784,
 33660,
 1278,
 2918,
 54648,
 111743,
 69951,
 4254,
 87234,
 76175,
 81156,
 91079,
 101025,
 66371,
 140711,
 588,
 3254,
 99813,
 77800,
 87529,
 71254,
 165549,
 4370,
 1801,
 85885,
 6383,
 7387,
 5872,
 93721,
 143458,
 5971,
 1584,
 127108,
 171011,
 160563,
 38038,
 97306,
 5608,
 99112,
 135536,
 33646,
 48043,
 44022,
 3916,
 52328,
 145839,
 89804,
 81417,
 7373,
 4310,
 37733,
 58303,
 2338,
 108689,
 87430,
 208,
 4148,
 20,
 52245,
 98243,
 155288,
 6287,
 102686,
 90647,
 133771,
 122890,
 90249,
 187541,
 5219,
 176101,
 69278,
 60766,
 903,
 6283,
 1259,
 5266,
 89753,
 143355,
 114795,
 1921,
 90376,
 80831,
 40148,
 112370,
 88272,
 2353,
 3624,
 128512,
 103372,
 81537,
 117466,
 3252,
 65261,
 3000,
 66934,
 81782,
 3307,
 62644,
 7439,
 101112,
 40697,
 2115,
 54999,
 71530,
 73023,
 3481,
 171763,
 3421,
 6936,
 53993,
 2012,
 3988,
 135137,
 3186,
 53121,
 51086,
 61250,
 55269,
 3462,
 160438,
 1234,
 156726,
 98491,
 102194,
 5449,
 69406,
 78209,
 1230,
 4865,
 5954,
 42723,
 4343,
 1608,
 98961,
 78772,
 62956,
 140247,
 71106,
 65802,
 63062,
 58301,
 130576,
 180,
 71135,
 58156,
 4161,
 70293,
 2671,
 66544,
 55232,
 7371,
 89904,
 122902,
 4014,
 1276,
 141890,
 3081,
 102217,
 117851,
 55280,
 168248,
 129354,
 39446,
 62250,
 71462,
 117533,
 105954,
 3986,
 122896,
 132796,
 4845,
 58299,
 91094,
 165101,
 2428,
 59387,
 1220,
 179401,
 2485,
 27706,
 76060,
 555,
 1805,
 112421,
 3681,
 5944,
 108190,
 30825,
 113378,
 2231,
 6548,
 2378,
 84601,
 162606,
 102481,
 5507,
 62374,
 65216,
 ...]

In [39]:
known_items = list(pd.Series(interactions.loc[user_id,:] \
                             [interactions.loc[user_id,:] > threshold].index) \
                             .sort_values(ascending=False))
known_items

[5060,
 4006,
 3809,
 3793,
 3744,
 3740,
 3729,
 3703,
 3702,
 3671,
 3639,
 3617,
 3578,
 3527,
 3489,
 3479,
 3450,
 3448,
 3441,
 3440,
 3439,
 3386,
 3273,
 3253,
 3247,
 3243,
 3176,
 3168,
 3147,
 3062,
 3053,
 3052,
 3034,
 3033,
 2997,
 2993,
 2991,
 2987,
 2985,
 2959,
 2949,
 2948,
 2947,
 2944,
 2916,
 2899,
 2872,
 2858,
 2826,
 2797,
 2761,
 2716,
 2700,
 2692,
 2657,
 2654,
 2648,
 2644,
 2641,
 2640,
 2628,
 2617,
 2616,
 2596,
 2580,
 2571,
 2542,
 2529,
 2528,
 2502,
 2492,
 2478,
 2470,
 2459,
 2450,
 2427,
 2414,
 2406,
 2395,
 2389,
 2387,
 2366,
 2353,
 2338,
 2329,
 2291,
 2273,
 2268,
 2253,
 2193,
 2174,
 2161,
 2143,
 2141,
 2139,
 2137,
 2116,
 2115,
 2105,
 2099,
 2096,
 2094,
 2093,
 2090,
 2078,
 2058,
 2054,
 2048,
 2046,
 2033,
 2028,
 2018,
 2012,
 2005,
 2000,
 1967,
 1954,
 1927,
 1920,
 1805,
 1804,
 1793,
 1777,
 1732,
 1676,
 1644,
 1625,
 1620,
 1617,
 1587,
 1580,
 1573,
 1552,
 1517,
 1500,
 1473,
 1445,
 1408,
 1396,
 1377,
 1348,
 1298,
 1291,
 1282,
 1278,
 1275,
 1270,
 1265,
 1258,
 1256,
 1240,
 1226,
 1224,
 1222,
 1220,
 1219,
 1214,
 1213,
 1210,
 1208,
 1206,
 1198,
 1197,
 1196,
 1136,
 1127,
 1097,
 1092,
 1090,
 1089,
 1080,
 1073,
 1060,
 1049,
 1042,
 1032,
 1031,
 1030,
 1029,
 1025,
 1024,
 1023,
 1009,
 954,
 943,
 940,
 923,
 919,
 804,
 780,
 736,
 733,
 673,
 661,
 648,
 608,
 596,
 593,
 592,
 590,
 553,
 552,
 543,
 527,
 500,
 480,
 457,
 441,
 423,
 367,
 362,
 356,
 349,
 333,
 316,
 296,
 260,
 235,
 231,
 223,
 216,
 163,
 157,
 151,
 110,
 101,
 70,
 50,
 47,
 6,
 3,
 1]

In [40]:
scores = [x for x in scores if x not in known_items]
scores

[58559,
 79132,
 74458,
 72998,
 109487,
 59315,
 91529,
 99114,
 80463,
 106782,
 68157,
 91658,
 68954,
 122904,
 318,
 60069,
 69122,
 48516,
 122882,
 5952,
 134130,
 112852,
 7153,
 3949,
 4993,
 112556,
 116797,
 70286,
 4226,
 89745,
 4878,
 73017,
 89492,
 109374,
 48780,
 59369,
 63082,
 115713,
 6874,
 54286,
 858,
 134853,
 112552,
 55820,
 56367,
 111759,
 69481,
 84152,
 51662,
 71535,
 81845,
 33794,
 112183,
 50872,
 64614,
 6377,
 60684,
 51255,
 5989,
 48774,
 4886,
 96079,
 88125,
 44191,
 81591,
 77561,
 68358,
 115149,
 85414,
 78499,
 122886,
 48394,
 4963,
 91542,
 139385,
 35836,
 55247,
 68237,
 91500,
 72011,
 87232,
 7361,
 76093,
 69844,
 49530,
 67255,
 8665,
 79091,
 4995,
 96610,
 94959,
 61323,
 7438,
 59784,
 1704,
 106489,
 81932,
 6539,
 55765,
 92259,
 72641,
 4306,
 79702,
 6016,
 80489,
 105504,
 110102,
 88129,
 64839,
 76251,
 57669,
 4011,
 5445,
 46578,
 106920,
 112290,
 4262,
 138036,
 49272,
 119145,
 81834,
 4022,
 48385,
 97304,
 51540,
 115617,
 2762,
 102125,
 98809,
 64969,
 86332,
 102903,
 31685,
 53322,
 91630,
 68319,
 108932,
 81562,
 47099,
 54503,
 61132,
 5418,
 8641,
 73321,
 80906,
 64957,
 54001,
 32587,
 152081,
 95510,
 7458,
 54272,
 8961,
 8874,
 60756,
 1193,
 122892,
 60074,
 94864,
 69757,
 53125,
 56174,
 778,
 4973,
 60072,
 82459,
 122900,
 118696,
 86345,
 88744,
 88140,
 8950,
 59615,
 148626,
 92535,
 115569,
 86882,
 1221,
 97921,
 74789,
 94677,
 7254,
 87306,
 107406,
 89774,
 63113,
 27773,
 89864,
 30707,
 8361,
 5816,
 105844,
 53996,
 97938,
 4816,
 102407,
 142488,
 7317,
 104841,
 293,
 88163,
 44665,
 58998,
 77455,
 6934,
 6365,
 8376,
 86833,
 53972,
 7445,
 168252,
 106696,
 5349,
 164179,
 168250,
 122920,
 102445,
 5618,
 44199,
 61024,
 6502,
 4979,
 60040,
 7143,
 5956,
 71264,
 102123,
 8917,
 47610,
 54995,
 87520,
 56782,
 96829,
 88810,
 84954,
 1884,
 4896,
 62434,
 5010,
 111781,
 96821,
 146656,
 44555,
 3948,
 3752,
 56775,
 45722,
 103772,
 52722,
 97913,
 45720,
 106918,
 86880,
 134368,
 106100,
 5378,
 117529,
 66097,
 1721,
 122918,
 103335,
 90405,
 5995,
 139644,
 103249,
 122916,
 97752,
 8644,
 52973,
 45499,
 59900,
 112138,
 41566,
 106072,
 93510,
 8533,
 63131,
 5218,
 40819,
 30793,
 541,
 86347,
 68554,
 63859,
 72378,
 69526,
 46970,
 47997,
 48738,
 81564,
 87869,
 152077,
 101864,
 6333,
 103042,
 82461,
 114662,
 4734,
 5481,
 46976,
 41569,
 48304,
 33493,
 174055,
 6942,
 112171,
 52281,
 51935,
 166528,
 4027,
 60950,
 364,
 122924,
 150,
 8360,
 150548,
 589,
 39183,
 58803,
 4776,
 104879,
 55276,
 62849,
 8368,
 115210,
 4388,
 36529,
 157296,
 106487,
 97923,
 46723,
 53519,
 40815,
 30810,
 2706,
 86320,
 45672,
 177765,
 34162,
 57368,
 54997,
 111362,
 87222,
 80549,
 34405,
 31658,
 1682,
 750,
 38061,
 6586,
 114180,
 111,
 8636,
 1203,
 4718,
 53953,
 54259,
 30749,
 7022,
 166461,
 104211,
 95167,
 6537,
 8957,
 81847,
 8807,
 81229,
 112175,
 96811,
 6373,
 1200,
 8464,
 86781,
 106491,
 45447,
 128360,
 34048,
 27611,
 5502,
 120466,
 103141,
 3751,
 4720,
 6618,
 3535,
 127098,
 49278,
 116897,
 8529,
 136020,
 56757,
 166643,
 2324,
 79293,
 6281,
 63992,
 55118,
 72226,
 1036,
 79592,
 71745,
 6188,
 140174,
 163645,
 86190,
 4270,
 111659,
 139642,
 107348,
 86377,
 2791,
 904,
 91535,
 30812,
 3996,
 33166,
 80219,
 111360,
 4223,
 8914,
 93363,
 6378,
 3285,
 924,
 4447,
 135887,
 108729,
 3968,
 53894,
 96737,
 67197,
 176371,
 136562,
 5464,
 7147,
 33615,
 81788,
 136864,
 6863,
 140110,
 111364,
 132046,
 34150,
 344,
 143385,
 6870,
 122912,
 95441,
 3911,
 83134,
 104069,
 83349,
 187593,
 27831,
 55721,
 183897,
 116823,
 4018,
 4974,
 103253,
 3785,
 3821,
 7293,
 103341,
 131724,
 86911,
 65514,
 79134,
 67087,
 79695,
 159093,
 64620,
 5785,
 100383,
 158238,
 112623,
 135436,
 3275,
 3623,
 51412,
 8984,
 91077,
 61240,
 135133,
 58293,
 63072,
 6711,
 3717,
 5903,
 4890,
 117176,
 6957,
 99007,
 33004,
 104374,
 114935,
 86504,
 101525,
 104913,
 53464,
 78039,
 56587,
 127202,
 3897,
 50068,
 48322,
 4239,
 76077,
 93840,
 59022,
 134170,
 5617,
 55908,
 74795,
 63876,
 84772,
 69644,
 31696,
 56941,
 6214,
 5459,
 106002,
 159817,
 84374,
 4958,
 47200,
 90866,
 8784,
 8798,
 80693,
 4369,
 67923,
 135569,
 93272,
 117881,
 84944,
 90439,
 58295,
 130520,
 127198,
 57504,
 106916,
 103596,
 4848,
 135143,
 64716,
 76293,
 140715,
 6708,
 4034,
 67734,
 3409,
 5064,
 74946,
 45186,
 71899,
 106766,
 135861,
 122926,
 131013,
 3753,
 4344,
 175303,
 32,
 1961,
 6534,
 37729,
 58025,
 103228,
 5388,
 78469,
 912,
 180031,
 53000,
 51077,
 143859,
 16,
 78574,
 2019,
 1207,
 68205,
 2694,
 101362,
 8528,
 85774,
 3114,
 104,
 62336,
 97836,
 6541,
 1201,
 137857,
 179819,
 122922,
 55290,
 103688,
 4025,
 4246,
 71033,
 8873,
 31878,
 33679,
 8981,
 5630,
 88405,
 34319,
 93838,
 26471,
 55363,
 158966,
 27904,
 79008,
 5669,
 85342,
 134393,
 162578,
 1247,
 166534,
 44195,
 101142,
 69784,
 4367,
 19,
 71057,
 45517,
 89470,
 73344,
 45728,
 2683,
 65230,
 177593,
 8972,
 5110,
 86644,
 3861,
 161582,
 103980,
 7454,
 36401,
 1485,
 2232,
 84392,
 103384,
 2011,
 111113,
 743,
 5673,
 5151,
 56145,
 142448,
 1527,
 7099,
 4069,
 117887,
 4299,
 37741,
 4102,
 56715,
 71838,
 119141,
 5254,
 5444,
 157699,
 66203,
 3300,
 85510,
 165,
 117895,
 1653,
 6754,
 1466,
 5679,
 2712,
 54736,
 168418,
 5810,
 3826,
 6157,
 120799,
 71464,
 7451,
 1968,
 54881,
 4701,
 6953,
 7323,
 72605,
 94777,
 7669,
 3980,
 83613,
 68848,
 7367,
 31410,
 86298,
 5299,
 111921,
 95105,
 32460,
 4015,
 1393,
 1645,
 96588,
 3969,
 175569,
 52319,
 55577,
 1246,
 91976,
 4247,
 5574,
 82667,
 97225,
 90888,
 92420,
 3868,
 3979,
 1923,
 215,
 3825,
 6807,
 114060,
 37386,
 8958,
 64983,
 58047,
 3552,
 170697,
 1202,
 3408,
 90600,
 4489,
 4232,
 110730,
 138210,
 56801,
 48877,
 586,
 89087,
 170705,
 1784,
 33660,
 2918,
 54648,
 111743,
 69951,
 4254,
 87234,
 76175,
 81156,
 91079,
 101025,
 66371,
 140711,
 588,
 3254,
 99813,
 77800,
 87529,
 71254,
 165549,
 4370,
 1801,
 85885,
 6383,
 7387,
 5872,
 93721,
 143458,
 5971,
 1584,
 127108,
 171011,
 160563,
 38038,
 97306,
 5608,
 99112,
 135536,
 33646,
 48043,
 44022,
 3916,
 52328,
 145839,
 89804,
 81417,
 7373,
 4310,
 37733,
 58303,
 108689,
 87430,
 208,
 4148,
 20,
 52245,
 98243,
 155288,
 6287,
 102686,
 90647,
 133771,
 122890,
 90249,
 187541,
 5219,
 176101,
 69278,
 60766,
 903,
 6283,
 1259,
 5266,
 89753,
 143355,
 114795,
 1921,
 90376,
 80831,
 40148,
 112370,
 88272,
 3624,
 128512,
 103372,
 81537,
 117466,
 3252,
 65261,
 3000,
 66934,
 81782,
 3307,
 62644,
 7439,
 101112,
 40697,
 54999,
 71530,
 73023,
 3481,
 171763,
 3421,
 6936,
 53993,
 3988,
 135137,
 3186,
 53121,
 51086,
 61250,
 55269,
 3462,
 160438,
 1234,
 156726,
 98491,
 102194,
 5449,
 69406,
 78209,
 1230,
 4865,
 5954,
 42723,
 4343,
 1608,
 98961,
 78772,
 62956,
 140247,
 71106,
 65802,
 63062,
 58301,
 130576,
 180,
 71135,
 58156,
 4161,
 70293,
 2671,
 66544,
 55232,
 7371,
 89904,
 122902,
 4014,
 1276,
 141890,
 3081,
 102217,
 117851,
 55280,
 168248,
 129354,
 39446,
 62250,
 71462,
 117533,
 105954,
 3986,
 122896,
 132796,
 4845,
 58299,
 91094,
 165101,
 2428,
 59387,
 179401,
 2485,
 27706,
 76060,
 555,
 112421,
 3681,
 5944,
 108190,
 30825,
 113378,
 2231,
 6548,
 2378,
 84601,
 162606,
 102481,
 5507,
 62374,
 65216,
 57640,
 87192,
 140523,
 90890,
 6947,
 80590,
 8638,
 87485,
 377,
 93326,
 7346,
 27156,
 58103,
 162600,
 69069,
 162350,
 70305,
 103075,
 3977,
 60894,
 3424,
 160080,
 1917,
 53460,
 64285,
 55995,
 37380,
 112804,
 69436,
 8371,
 1228,
 78349,
 103984,
 89759,
 68659,
 79224,
 47518,
 6503,
 7132,
 96488,
 4901,
 5782,
 160980,
 133115,
 1252,
 177615,
 4728,
 40629,
 58154,
 172591,
 62999,
 46972,
 41997,
 104272,
 4558,
 3981,
 34,
 62113,
 136016,
 110553,
 5047,
 56788,
 1199,
 788,
 2724,
 45950,
 39292,
 92422,
 1232,
 ...]

In [41]:
return_score_list = scores[0:nrec_items]
return_score_list

[58559, 79132, 74458, 72998, 109487, 59315, 91529, 99114, 80463, 106782]

In [42]:
known_items = list(pd.Series(known_items).apply(lambda x: movie_dict[x]))
known_items

['M*A*S*H (a.k.a. MASH) (1970)',
 'Transformers: The Movie (1986)',
 'What About Bob? (1991)',
 'X-Men (2000)',
 'Shaft (2000)',
 'Big Trouble in Little China (1986)',
 'Shaft (1971)',
 'Road Warrior, The (Mad Max 2) (1981)',
 'Mad Max (1979)',
 'Blazing Saddles (1974)',
 'Man with the Golden Gun, The (1974)',
 'Road Trip (2000)',
 'Gladiator (2000)',
 'Predator (1987)',
 'Hook (1991)',
 'Ladyhawke (1985)',
 'Grumpy Old Men (1993)',
 'Good Morning, Vietnam (1987)',
 'Red Dawn (1984)',
 'Teenage Mutant Ninja Turtles III (1993)',
 'Teenage Mutant Ninja Turtles II: The Secret of the Ooze (1991)',
 'JFK (1991)',
 'Scream 3 (2000)',
 "Wayne's World (1992)",
 'Sister Act (1992)',
 'Encino Man (1992)',
 'Talented Mr. Ripley, The (1999)',
 'Easy Rider (1969)',
 'Green Mile, The (1999)',
 'Longest Day, The (1962)',
 'Messenger: The Story of Joan of Arc, The (1999)',
 'Dogma (1999)',
 'Robin Hood (1973)',
 'Spaceballs (1987)',
 'Being John Malkovich (1999)',
 'Thunderball (1965)',
 'Live and Let Die (1973)',
 'Who Framed Roger Rabbit? (1988)',
 'RoboCop (1987)',
 'Fight Club (1999)',
 'Dr. No (1962)',
 'From Russia with Love (1963)',
 'Goldfinger (1964)',
 'Dirty Dozen, The (1967)',
 'Total Recall (1990)',
 "Gulliver's Travels (1939)",
 'Excalibur (1981)',
 'American Beauty (1999)',
 '13th Warrior, The (1999)',
 'Big (1988)',
 'Iron Giant, The (1999)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'South Park: Bigger, Longer and Uncut (1999)',
 'Run Lola Run (Lola rennt) (1998)',
 'Rocky Horror Picture Show, The (1975)',
 'Wolf Man, The (1941)',
 'Frankenstein (1931)',
 'Dracula (1931)',
 'Superman II (1980)',
 'Superman (1978)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Mummy, The (1999)',
 'Dick Tracy (1990)',
 'SLC Punk! (1998)',
 'Go (1999)',
 'Matrix, The (1999)',
 'Lock, Stock & Two Smoking Barrels (1998)',
 'Planet of the Apes (1968)',
 "Logan's Run (1976)",
 'Office Space (1999)',
 '20 Dates (1998)',
 '¡Three Amigos! (1986)',
 'Crocodile Dundee (1986)',
 'Texas Chainsaw Massacre, The (1974)',
 'Howard the Duck (1986)',
 'Thin Red Line, The (1998)',
 'Young Sherlock Holmes (1985)',
 'Romancing the Stone (1984)',
 'Rushmore (1998)',
 'Psycho (1998)',
 'Very Bad Things (1998)',
 'King Kong (1933)',
 'Enemy of the State (1998)',
 'I Still Know What You Did Last Summer (1998)',
 'American History X (1998)',
 'Edward Scissorhands (1990)',
 'Rush Hour (1998)',
 'Few Good Men, A (1992)',
 'Toys (1992)',
 'Willow (1988)',
 'Beetlejuice (1988)',
 'NeverEnding Story, The (1984)',
 'Legend (1985)',
 'American Tail, An (1986)',
 'Secret of NIMH, The (1982)',
 "Charlotte's Web (1973)",
 'Lord of the Rings, The (1978)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Tron (1982)',
 'Song of the South (1946)',
 'Sleeping Beauty (1959)',
 'Rocketeer, The (1991)',
 'Return to Oz (1985)',
 'Rescuers, The (1977)',
 'Jungle Book, The (1967)',
 'Negotiator, The (1998)',
 'Honey, I Shrunk the Kids (1989)',
 'Great Mouse Detective, The (1986)',
 'Flight of the Navigator (1986)',
 'Black Cauldron, The (1985)',
 'Saving Private Ryan (1998)',
 'Bambi (1942)',
 'Back to the Future Part III (1990)',
 'Goonies, The (1985)',
 'Lethal Weapon (1987)',
 'Labyrinth (1986)',
 'Rocky (1976)',
 'All Quiet on the Western Front (1930)',
 'Small Soldiers (1998)',
 'Wild Things (1998)',
 'Newton Boys, The (1998)',
 'Welcome to Woop-Woop (1997)',
 'Wedding Singer, The (1998)',
 'Big Lebowski, The (1998)',
 'Starship Troopers (1997)',
 'I Know What You Did Last Summer (1997)',
 'Game, The (1997)',
 'Kiss the Girls (1997)',
 'L.A. Confidential (1997)',
 'Conan the Barbarian (1982)',
 'Men in Black (a.k.a. MIB) (1997)',
 'Face/Off (1997)',
 'Con Air (1997)',
 'Austin Powers: International Man of Mystery (1997)',
 'Grosse Pointe Blank (1997)',
 'Best Men (1997)',
 "McHale's Navy (1997)",
 'Last of the Mohicans, The (1992)',
 'Sneakers (1992)',
 'Batman Returns (1992)',
 'Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)',
 'Pink Floyd: The Wall (1982)',
 'Indiana Jones and the Last Crusade (1989)',
 'Fantasia (1940)',
 'Young Frankenstein (1974)',
 'Highlander (1986)',
 'Back to the Future (1985)',
 'Groundhog Day (1993)',
 'Shining, The (1980)',
 'Duck Soup (1933)',
 'Terminator, The (1984)',
 'Quiet Man, The (1952)',
 'Henry V (1989)',
 'Full Metal Jacket (1987)',
 'Blues Brothers, The (1980)',
 'Psycho (1960)',
 'Alien (1979)',
 'Goodfellas (1990)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Apocalypse Now (1979)',
 'Clockwork Orange, A (1971)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Princess Bride, The (1987)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Monty Python and the Holy Grail (1975)',
 'Abyss, The (1989)',
 'E.T. the Extra-Terrestrial (1982)',
 'Basic Instinct (1992)',
 'Platoon (1986)',
 'Reservoir Dogs (1992)',
 "Monty Python's Life of Brian (1979)",
 'Willy Wonka & the Chocolate Factory (1971)',
 'Swingers (1996)',
 'Ghost and the Darkness, The (1996)',
 'That Thing You Do! (1996)',
 'Alice in Wonderland (1951)',
 'Bedknobs and Broomsticks (1971)',
 "Pete's Dragon (1977)",
 'Dumbo (1941)',
 'Sword in the Stone, The (1963)',
 'Three Caballeros, The (1945)',
 'Winnie the Pooh and the Blustery Day (1968)',
 'Escape to Witch Mountain (1975)',
 'Mr. Smith Goes to Washington (1939)',
 'Ghost and Mrs. Muir, The (1947)',
 'Adventures of Robin Hood, The (1938)',
 'Citizen Kane (1941)',
 'Wizard of Oz, The (1939)',
 "She's the One (1996)",
 'Independence Day (a.k.a. ID4) (1996)',
 'Twister (1996)',
 'Rock, The (1996)',
 'Space Jam (1996)',
 'James and the Giant Peach (1996)',
 'Mission: Impossible (1996)',
 'Fargo (1996)',
 'Pinocchio (1940)',
 'Silence of the Lambs, The (1991)',
 'Batman (1989)',
 'Dances with Wolves (1990)',
 'Tombstone (1993)',
 'Three Musketeers, The (1993)',
 'So I Married an Axe Murderer (1993)',
 "Schindler's List (1993)",
 'Mrs. Doubtfire (1993)',
 'Jurassic Park (1993)',
 'Fugitive, The (1993)',
 'Dazed and Confused (1993)',
 'Blown Away (1994)',
 'Mask, The (1994)',
 'Jungle Book, The (1994)',
 'Forrest Gump (1994)',
 'Clear and Present Danger (1994)',
 'Tommy Boy (1995)',
 'Stargate (1994)',
 'Pulp Fiction (1994)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Ed Wood (1994)',
 'Dumb & Dumber (Dumb and Dumber) (1994)',
 'Clerks (1994)',
 'Billy Madison (1995)',
 'Desperado (1995)',
 'Canadian Bacon (1995)',
 'Rob Roy (1995)',
 'Braveheart (1995)',
 'Bottle Rocket (1996)',
 'From Dusk Till Dawn (1996)',
 'Usual Suspects, The (1995)',
 'Seven (a.k.a. Se7en) (1995)',
 'Heat (1995)',
 'Grumpier Old Men (1995)',
 'Toy Story (1995)']

In [43]:
scores = list(pd.Series(return_score_list).apply(lambda x: movie_dict[x]))
scores

['Dark Knight, The (2008)',
 'Inception (2010)',
 'Shutter Island (2010)',
 'Avatar (2009)',
 'Interstellar (2014)',
 'Iron Man (2008)',
 'Dark Knight Rises, The (2012)',
 'Django Unchained (2012)',
 'Social Network, The (2010)',
 'Wolf of Wall Street, The (2013)']